body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #3A3335;
    justify-content: center;
}

h3 {
    color: #8A84E2;
}

a {
    text-decoration: none;
    color: #F8F1FF;
}
p{
    align-items: center;
    justify-content: center;
}
