<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <input type="button" onClick = "test()" value = "test" />
    <form action = "/setsession" method="POST">
        <p><h3> Enter Session</h3></p>
        <p><input type="text" name="nm" placeholder="Password"/></p>
        <p><input type ="submit" value="Login" ></p>
    </form>
    
</body>
</html>